framework: netstandard2.1
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
storage: none


nuget FSharp.Core           >= 4.6.2 lowest_matching: true
nuget Mono.WebAssembly.Sdk  ~> 0.2.3
nuget WebAssembly.Bindings  ~> 0.2.3

